## 아주쉬운 유전체 분석 - 실습편(2019)

    작성일자 : 2020/05/06
    작성자 : 조예슬

    강의 : 제 1강
           R programming (아주대 최지혜) - 1. R introduction
           
           제 2강
           R programming (아주대 최지혜) - 2. Data type
           
           제 3강
           R programming (아주대 최지혜) - 3. Function and practice

### 1. 변수(Variable)

    변수 : 값을 저장하는 저장소

In [3]:
## 변수생성(숫자)

# 지정
a <- 1
b <- 2
c <- 3

# 출력
a
b
c

[1] 1

[1] 2

[1] 3

In [8]:
## 여러 값으로 구성된 변수
# c (combine)
var1 <- c(1, 2, 5, 7, 8)

# sequential numeric
var2 <- c(1:5)

# same c(1:5)
var3 <- seq(1,5)

var1
var2
var3

[1] 1 2 5 7 8

[1] 1 2 3 4 5

[1] 1 2 3 4 5

### 2. Operation

    < Arithmetic operators >
    + : addition
    - : subtraction
    * : multiplication
    / : division
    ^ or ** : exponentiation
    
    < Logical (True/False) operators >
    > : greater than
    >= : greater than or equal to
    == : exactly equal to
    != : not equal to
    x|y : OR
    x&y : AND

In [18]:
## arithmetic
a + b
a - b
a * b
a / b
b ^ 3
b ** 3

[1] 3

[1] -1

[1] 2

[1] 0.5

[1] 8

[1] 8

In [21]:
## logical (True/False)
a > b
a >= b
a == b
a != b
var1 < 2 | var1 > 7
var1 > 2 & var1 < 7

# 조건에 해당하는 값만 얻고 싶을때 : [] 사용
var1[var1 < 2 | var1 > 7]
var1[var1 > 2 & var1 < 7]

[1] FALSE

[1] FALSE

[1] FALSE

[1] TRUE

[1]  TRUE FALSE FALSE FALSE  TRUE

[1] FALSE FALSE  TRUE FALSE FALSE

[1] 1 8

[1] 5

### 3. Data type

    1. Vectors
    type : numeric / character / logical
    
    2. Factors : level 값을 가지는 벡터
    
    3. List : 서로 다른 길이 벡터들의 모임
    
    4. Matrix[행, 열] : 같은 데이터 타입만 허용
    
    5. Data Frame : 행, 열로 구성 (서로 다른 데이터 타입 허용)
        
        데이터 파악 시 사용 함수들
        - dim(), summary()
        - head()
        - View()

In [32]:
## Vectors
# numeric vector
a <- c(1, 2, 5, 3, 6, -2, 4)

# character vector
b <- c("one", "two", "three")

# logical vector
c <- c(TRUE, TRUE, TRUE, FALSE, TRUE, FALSE)

# 출력
a
b
c

# DataType 알기 : 만약 세가지 타입이 섞여있으면 'character'로 결과 출력
class(a)
class(b)
class(c)

[1]  1  2  5  3  6 -2  4

[1] "one"   "two"   "three"

[1]  TRUE  TRUE  TRUE FALSE  TRUE FALSE

[1] "numeric"

[1] "character"

[1] "logical"

In [40]:
## Factor
# 변수 설정
grade <- c("A", "B", "A", "B", "B", "C")
grade # character 형태

# factor 형태로 변경
grade <- factor(grade)
grade # factor 형태

# 삽입
# grade[1] <- "D"   # factor 요소 안에 없는 것으로 수정시키려하면 error
grade[1] <- "C"   # factor 요소 안에 있는 것으로 수정
grade

[1] "A" "B" "A" "B" "B" "C"

[1] A B A B B C
Levels: A B C

[1] C B A B B C
Levels: A B C

In [55]:
## List
# 변수 지정
a <- c(1, 2, 3)
b <- c("a", "b", "c", "d", "e")
c <- c(TRUE, FALSE)

a
b
c

# list로 만들기
list1 <- list(a, b, c)
list1

list2 <- list(numeric=a, character=b, logical=c)
list2

list2$numeric
list2$character

list2[[1]]
list2[[2]]

class(list1)
class(list2[[1]])

[1] 1 2 3

[1] "a" "b" "c" "d" "e"

[1]  TRUE FALSE

[[1]]
[1] 1 2 3

[[2]]
[1] "a" "b" "c" "d" "e"

[[3]]
[1]  TRUE FALSE

$numeric
[1] 1 2 3

$character
[1] "a" "b" "c" "d" "e"

$logical
[1]  TRUE FALSE

[1] 1 2 3

[1] "a" "b" "c" "d" "e"

[1] 1 2 3

[1] "a" "b" "c" "d" "e"

[1] "list"

[1] "numeric"

In [69]:
## Matrix
# 변수 지정
english <- c(90, 80, 90, 70)
math <- c(50, 60, 100, 20)
class <- c(1, 1, 2, 2)
student <- c("A", "B", "C", "D")

# matrix 생성
midterm <- cbind(english, math, class)
rownames(midterm) <- student
midterm

# 뽑고 싶은 값만 뽑기
midterm[1:4, 1]

# type알기
class(midterm)

  english math class
A 90       50  1
B 80       60  1
C 90      100  2
D 70       20  2

 A  B  C  D
90 80 90 70

[1] "matrix"

In [77]:
# data frame
midterm.df <- data.frame(student, class, english, math)
midterm.df

# 컬럼 정보 얻기
midterm.df$english
midterm.df$math

# 뽑고 싶은 값만 뽑기
midterm.df[3,1]
midterm.df[,2]
midterm.df[c(1, 3), 2]

# dimension
dim(midterm.df)

# 구조 파악
head(midterm.df)
tail(midterm.df)

# 삽입
midterm.df$science <- c(100, 20, 90, 100)
midterm.df

  student class english math
1 A       1     90       50
2 B       1     80       60
3 C       2     90      100
4 D       2     70       20

[1] 90 80 90 70

[1]  50  60 100  20

[1] C
Levels: A B C D

[1] 1 1 2 2

[1] 1 2

[1] 4 4

  student class english math
1 A       1     90       50
2 B       1     80       60
3 C       2     90      100
4 D       2     70       20

  student class english math
1 A       1     90       50
2 B       1     80       60
3 C       2     90      100
4 D       2     70       20

  student class english math science
1 A       1     90       50  100
2 B       1     80       60   20
3 C       2     90      100   90
4 D       2     70       20  100

### 4. 함수 (Function)

In [83]:
## Basic Fucntions
x <- c(1, 2, 3)
mean(x)
max(x)
min(x)
sum(x)
median(x)
sd(x)
quantile(x)
range(x)

str <- c("Hello!", "World", "is", "good!")
paste(str, collapse = ",")
paste(str, collapse = " ")

[1] 2

[1] 3

[1] 1

[1] 6

[1] 2

[1] 1

  0%  25%  50%  75% 100%
 1.0  1.5  2.0  2.5  3.0

[1] 1 3

[1] "Hello!,World,is,good!"

[1] "Hello! World is good!"

### 예제(Iris)

In [1]:
## IRIS
# 데이터 불러오기
data(iris)
str(iris)
head(iris)
summary(iris) # 각 열에 대한 통계값

## "setosa"종인 Sepal.Width 평균?
with(iris, mean(Sepal.Width[Species == "setosa"]))

## 각 "setosa", "versicolor", "virginica" 종의  Sepal.Width 최대/최소값?
with(iris, max(Sepal.Width[Species == "setosa"]))
with(iris, min(Sepal.Width[Species == "setosa"]))

with(iris, max(Sepal.Width[Species == "versicolor"]))
with(iris, min(Sepal.Width[Species == "versicolor"]))

with(iris, max(Sepal.Width[Species == "virginica"]))
with(iris, min(Sepal.Width[Species == "virginica"]))

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

[1] 3.428

[1] 4.4

[1] 2.3

[1] 3.4

[1] 2

[1] 3.8

[1] 2.2

##### Practice : Greater and less than
    * -6 * 5 + 2 is greater than or equal to 10 + 1
    * "raining" is less than or equal to "raining dogs"
    * TRUE is greater than FALSE

In [5]:
# Comparison of numerics
-6*5+2 >= 10+1

# Comparison of character strings
"raining" <= "raining dogs"

# Comparison of logicals
TRUE > FALSE

[1] FALSE

[1] TRUE

[1] TRUE

##### Practice : Compare vectors
    * Q1 : On which days did the number of Instagram profile views exceed 15?
    * Q2 : When was your Instagram profile viewed only 5 times or fewer?
    * Q3 : When was your Instagram profile visited more often than your Facebook profile?
    * The instagram and facebook vectors have already been created for you
        instagram <- c(16, 9, 13, 5, 2, 17, 14)
        facebook <- c(17, 7, 5, 16, 8, 13, 14)

In [8]:
instagram <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)

# Q1
instagram > 15

# Q2 
instagram <= 5

# Q3
instagram > facebook

[1]  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE

[1] FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE

[1] FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE

##### Practice : & and  |
    * Q1 : Is last under 5 or above 10?
    * Q2 : Is last between 15 and 20, excluding 15 but including 20?
    * The instagram and last variable are already defined for you
        instagram <- c(16, 9, 13, 5, 2, 17, 14)
        last <- tail(instagram, 1)

In [13]:
instagram <- c(16, 9, 13, 5, 2, 17, 14)
last <- tail(instagram, 1)

# Q1
last < 5 | last > 10

# Q2
last > 15 & last <=20

[1] TRUE

[1] FALSE